/* BlogPages.css */
#blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog-post img {
  width: 700%;
  max-width: 900px; 
  height: auto;
  border-radius: 10px;
}

.container {
  width: 80%; 
  margin: 0 auto; 
}

.heading {
  text-align: center; 
  font-size: 34px;
}

.content {
  text-align: left; 
}
