.header {
    background-image: url(newhero.png);
    background-repeat: no-repeat; /* Set background image to not repeat */
    background-size: contain; /* Adjust background image size to contain within the container */
    background-position: center; /* Center the background image */
    position: relative;
    min-height: 70vh;
    margin-bottom: 20px;
    margin-top: 120px;
    padding-right: 30%;
    padding-left: 20%;
  }
  

.header-text {
    width: 200%; /* Adjust as needed */
    margin-left: 360px;
    
}

.header-title {
   
    font-weight: 650;
    font-family:Arial, Helvetica;
    line-height: 1.2;
    color:white;
}

.text-lead {
    color: white;
    padding-top: 25px;
}
.lottie-container {
    flex: 5;
    justify-content:right; /* Position the animation to the right side */
  }
  

@media screen and (min-width: 600px) {
  .header
    .header-title {
        font-size: 70px;
    }
    .header-content * {
        max-width: 920px;
    }
    
}



  
  .header-content,
  .lottie-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .header-content {
    left:60px;
  }
  
  .lottie-container {
    padding-left: 50%;
    
  }
  